<div
class="col-sm-auto responsive-width bg-white pt-sm-5 pt-2 px-sm-4 px-sm-3 sticky-top min-vh-100 position-sm-relative position-nr-fixed ">
<ul class="nav nav-pills flex-column justify-content-center ">
    <li class="nav-item pt-5 mb-3">
        <a href="/api/customers" class="nav-link d-flex justify-content-between align-items-center flex-column">
            <img src="/img/Dashboard Layout.png" alt="">
            <div>

                Home
            </div>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a href="/api/customers/phones" class="nav-link d-flex justify-content-between align-items-center flex-column">
            <img src="/img/Shop.png" alt="">
            <div>

                inventory
            </div>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a href="/api/customers/listcustomers" class="nav-link d-flex justify-content-between align-items-center flex-column">
            <img src="/img/Users.png" alt="">
            <div>

                customers
            </div>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a href="" class="nav-link d-flex justify-content-between align-items-center flex-column">
            <img src="/img/Logout.png" alt="">
            <div>

                logout
            </div>
        </a>
    </li>
</ul>
</div>  